* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --round-img-width: 100vmax;
  --round-img-height: 100vmax;
  --bg-image: url("./images/1.jpg");
}

body {
  min-height: 100vh;
  background-color: black;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.start-page {
  position: relative;
  min-height: 100vh;

  background-image: url('./images/okean.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    padding: 20px;
    text-align: center;
    font-size: min(60px, 20vw);
    color: rgb(255, 255, 255);
  }

  &__door {
    max-width: 400px;
    height: 50vh;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.bird {
  position: absolute;
  left: -10%;
  width: 100px;
  height: 100px;
  background-image: url('./images/bird.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: fly 10s linear infinite;
}

.bird:nth-child(1) {
  animation-delay: 0s;
}

.bird:nth-child(2) {
  animation-delay: 2s;
}

.bird:nth-child(3) {
  animation-delay: 4s;
}

.bird:nth-child(4) {
  animation-delay: 6s;
}

.door-animation {
  animation: pulse 2s infinite;
}



.page {
  height: 100vh;
  position: relative;
  overflow: hidden;


  &__container-btn {
    display: flex;
    justify-content: center;
    gap: 60px;
    position: absolute;
    z-index: 300;
    left: 50%;
    bottom: 100px;

    @media (max-width: 767px) {
      left: 0;
      width: 100%;
    }

  }

  &__btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #fffefe, #a9a9a9);
    transition: transform .5s;

    &--prev {
      transform: rotate(-180deg);

      @media (hover: hover) {
        &:hover {
          transform: scale(.9) rotate(-180deg);
        }
      }

      &:active {
        transform: scale(.8) rotate(-180deg);
      }
    }

    &--next {
      @media (hover: hover) {
        &:hover {
          transform: scale(.9);

        }
      }

      &:active {
        transform: scale(.8);
      }
    }

  }

  &__user {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: -300px;
    z-index: 200;
    top: 10%;
    pointer-events: none;

    @media (max-width: 1380px) {
      right: -400px;
      left: 0;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}

.slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(1.4);
    transition: transform 1s, opacity 1s;
  }


  &__bg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 0;

    background-image: var(--bg-image);
    background-position: center;
    background-size: var(--round-img-width) var(--round-img-height);
    background-repeat: no-repeat;
    background-color: black;



    &::before {
      content: '';
      position: absolute;
      width: calc(var(--round-img-width) / 4);
      height: calc(var(--round-img-width) / 4);
      z-index: 1;
      top: 50%;
      left: 50%;

      background-image: var(--bg-image);
      background-position: center;
      background-size: var(--round-img-width) var(--round-img-height);
      background-repeat: no-repeat;
      box-shadow: 0 4px 125px rgba(255, 255, 0, 1);
      border-radius: 100%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: transform 2s, box-shadow 2s;
    }

    &::after {
      content: '';
      position: absolute;
      width: calc(var(--round-img-width) / 1.2);
      height: calc(var(--round-img-width) / 1.2);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
      background-image: var(--bg-image);
      background-position: center;
      background-size: var(--round-img-width) var(--round-img-height);
      background-repeat: no-repeat;
      border-radius: 100%;
      box-shadow: 0 4px 125px rgba(255, 255, 0, 1);
      transition: transform 1.5s, box-shadow 2s;
      
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 0;
    padding: 20px;
    font-weight: 700;

    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

    @media (max-width: 1200px) {
      top: 20%;
      left: 0;

      width: 100%;
    }

    @media (max-width: 767px) {
      left: 0;
      transform: initial;
      width: 100%;
    }
  }
}

.active-slide {
  opacity: 1;
  transform: scale(1);

  .slider__bg {
    &::before {
      transform: translate(-50%, -50%) rotate(0);
      box-shadow: 0 4px 125px rgba(255, 255, 0, 0);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(720deg);
      box-shadow: 0 4px 125px rgba(255, 255, 0, 0);

    }
  }

  .slider__text {
    font-size: 60px;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 40px;
    }
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  50% {
    transform: translate(-52%, -50%) scale(1.01);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  50%,
  55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes fly {
  0% {
    transform: translateX(-100px) translateY(0);
   
  }

  50% {
    transform: translateX(100vw) translateY(-100px);
   
  }

  100% {
    transform: translateX(-100px) translateY(0);
  }
}